<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Editar Pasajero</title>
    </head>
    <body>
        <!DOCTYPE html>
        <html lang="en">
            <head>
                <meta charset="UTF-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="stylesheet"
                      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
                      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
                      crossorigin="anonymous">
                <title>Editar Pasajero</title>
            </head>
            <body>
                {% comment %} editar Conductor {% endcomment %}
                <div class="card">
                    <div class="card-content">
                        <div class="card-header">
                            <h3>Editar Pasajero</h3>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <form id="formEditarConductor"
                                      action="/motoxapp/editarPas/{{ datos.id }}"
                                      method="post"
                                      class="form">
                                    {% csrf_token %}
                                    <div class="input-group">
                                        <input class="form-control"
                                               type="number"
                                               placeholder="ID"
                                               name="id"
                                               id="id"
                                               disabled="true"
                                               value="{{ datos.id }}">
                                    </div>
                                    <br>
                                    <div class="input-group">
                                        <input class="form-control"
                                               type="text"
                                               placeholder="Nombre"
                                               name="nombre"
                                               id="nombre"
                                               value="{{ datos.nombre }}">
                                    </div>
                                    <br>
                                    <div class="input-group">
                                        <input class="form-control"
                                               type="text"
                                               placeholder="Cedula"
                                               name="cedula"
                                               id="cedula"
                                               value="{{ datos.cedula }}">
                                    </div>
                                    <br>
                                    <div class="input-group">
                                        <input class="form-control"
                                               type="text"
                                               placeholder="Correo"
                                               name="correo"
                                               id="correo"
                                               value="{{ datos.correo }}">
                                    </div>
                                    <br>
                                    <div class="input-group">
                                        <input class="form-control"
                                               type="text"
                                               placeholder="Contraseña"
                                               name="contrasena"
                                               id="contrasena"
                                               value="{{ datos.contrasena }}">
                                    </div>
                                    <div class="modal-footer">
                                        <div class="btn-block">
                                            <button type="submit" class="btn btn-primary">Actualizar</button>
                                            <button class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <script src="../../../static/motoxapp/js/edicionRegistros.js"></script>
            </body>
        </html>
    </body>
</html>
