{% extends 'motoxapp/bases/base_inicio.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}Administrador: {{administrador.nombre}}{% endblock title %}
</head>
<body>
    {% block titulo_inicio %}
        Conductores
    {% endblock titulo_inicio %}
    {% block contenido_tabla %}
        {% for conductor in conductores %}

            <tbody>
                <tr>
                    <td>{{conductor.id}}</td>
                    <td>{{conductor.cedula}}</td>
                    <td>{{conductor.nombre}}</td>
                    <td>{{conductor.correo}}</td>
                    <td>{{conductor.contrasena}}</td>

                    {% if editable == True %}
                    
                        <td>
                            <a href="" class="btn btn-primary">Editar</a>
                            <a href="" class="btn btn-danger">Eliminar</a>
                        </td>
                    
                    {% endif %}
                    
                </tr>
            </tbody>

        {% endfor %}
    {% endblock contenido_tabla %}

    {% block titulo_inicio2 %}
        Pasajeros
    {% endblock titulo_inicio2 %}

    {% block contenido_tabla2 %}
        {% for pasajero in pasajeros %}

            <tbody>
                <tr>
                    <td>{{pasajero.id}}</td>
                    <td>{{pasajero.cedula}}</td>
                    <td>{{pasajero.nombre}}</td>
                    <td>{{pasajero.correo}}</td>
                    <td>{{pasajero.contrasena}}</td>

                    {% if editable == True %}
                    
                        <td>
                            <a href="" class="btn btn-primary">Editar</a>
                            <a href="" class="btn btn-danger">Eliminar</a>
                        </td>
                    
                    {% endif %}
                    
                </tr>
            </tbody>

        {% endfor %}
    {% endblock contenido_tabla2 %}
</body>
</html>