{% extends 'motoxapp/bases/base_inicio.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}Pasajero: {{pasajero.nombre}}{% endblock title %}
</head>
<body>
    {% block titulo_inicio %}
        Conductores disponibles
    {% endblock titulo_inicio %}
    {% block contenido_tabla %}
        {% for conductor in conductores %}

            <tbody>
                <tr>
                    <td>{{conductor.id}}</td>
                    <td>{{conductor.cedula}}</td>
                    <td>{{conductor.nombre}}</td>
                    <td>{{conductor.correo}}</td>
                    <td>{{conductor.contrasena}}</td>

                    {% if editable == True %}
                    
                        <td>
                            <input class="btn btn-primary" type="button" value="">Editar</input>
                            <a href="" class="btn btn-danger">Eliminar</a>
                        </td>
                    
                    {% endif %}
                    
                </tr>
            </tbody>

        {% endfor %}
    {% endblock contenido_tabla %}
</body>
</html>